@model IEnumerable<EMarket.Models.Advertesiments>
@{
}


<div class="text-center">
    <h1 class="display-4">Advertisements:</h1>
    <a class="btn btn-sm btn-primary m-1" asp-controller="Advertisements" asp-action="Create">Create an advertisements</a>
</div>
<div class="container mt-5">
    <div class="row">

        @foreach (var d in Model)
        {
            <div class="col gy-3 my-3">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="@d.Images" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@d.ArticleName</h5>
                            <p class="card-text"> <b> Price:</b> @d.Price</p>
                            <p class="card-text"> <b> Category:</b> @d.Categories</p>
                            <p class="card-text"> <b> Description:</b> @d.Description</p>
                            <p class="card-text"> <b> Date:</b> @d.Date</p>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = d.AdvertesimentsID })

                                @Html.ActionLink("Delete", "Delete", new { id = d.AdvertesimentsID })
                            </td>
                          
                        </div>
                    </div>
                </div>
            </div>
         }

    </div>
</div>

